@model AllCarsQueryModel


<form method="get">
    <div class="row mb-5">
        <div class="col-md-3">
            <label asp-for="SearchTerm" class="form-label"></label>
            <input asp-for="SearchTerm" class="form-control" placeholder="BMW, 640D, etc...">
        </div>

        <div class="col-md-3">
            <div class="form-floating">
                <select asp-for="Brand" class="form-select" style="margin-top:1%">
                    @foreach (var brand in Model.Brands)
                    {
                        <option value="@brand">@brand</option>
                    }
                </select>
                <label asp-for="Brand">Pick a category</label>
            </div>
        </div>

        <div class="col-md-3">
        </div>

        <div class="col-md-3">
            <input type="submit" class="btn btn-primary d-none" value="Search">
        </div>

    </div>
</form>




<div class="row">
    @foreach (var car in Model.Cars)
    {
        <div class="col-md-4">
            <div class="card mb-3">
                <img src="@car.ImageUrl" class="card-img-top" alt="@car.Brand @car.Model - @car.Year (@car.Category)">
                <div class="card-body text-center">
                    <h5 class="card-title text-center">@car.Year @car.Brand @car.Model (@car.Category)</h5>
                    <a asp-controller="Cars" asp-action="Details" asp-route-id="@car.Id" class="btn btn-primary">View More</a>
                </div>
            </div>
        </div>
    }
</div>